.sidebar {
    box-shadow: 2px 8px 8px 0 lightgrey;
    transition: .5s;
    transform: translateX(-100%);
    overflow-y: auto;
    overflow-x: hidden;
    width: 0;
    &.show{
        width: auto;
      transform: translateX(0);
  
    }
    h2 {
      margin: 20px;
    }
    .music {
      padding: 10px 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &.active{
          background-color: lightgray;
  
      }
      &:hover {
        background-color: rgb(230, 225, 225);
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      h4 {
        margin: 0;
        margin-bottom: 5px;
      }
      h6 {
        margin: 0;
      }
    }
  }
  